<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="webjars/jquery/3.2.1/jquery.min.js"></script> 
<script src="webjars/jquery-ui//1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="webjars/jquery-ui/1.12.1/jquery-ui.css">
<script src="js/getrequest.js"></script>
<script src="/js/postrequest.js"></script>
<script src="/js/updatepostrequest.js"></script>
<script src="/js/deleterequest.js"></script>
<script src="/js/getbyidrequest.js"></script>
<script>
  $( function() {
    $( "#birthdate" ).datepicker({dateFormat: 'yy-mm-dd'});
    $( "#birthdate2" ).datepicker({dateFormat: 'yy-mm-dd'});
  } );
</script>
<script>
function openCity(evt, crudOp) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(crudOp).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>
<style>
body {font-family: Arial;
	background-image: url('images/background.jpg');
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  background-color: white;
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
</style>
</head>
<body>

<h2>My CRUD REST API </h2>

<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'Read')">Read</button>
  <button class="tablinks" onclick="openCity(event, 'Create')">Create</button>
  <button class="tablinks" onclick="openCity(event, 'Update')">Update</button>
  <button class="tablinks" onclick="openCity(event, 'Delete')">Delete</button>
</div>

<div id="Read" class="tabcontent">
  <h3>Read</h3>
  <div class="col-sm-7" style="margin:20px 0px 20px 0px">
  	<button id="getAllCustomerId" type="button" class="btn btn-primary">Get All Customers</button>
  	<div id="getResultDiv" style="padding:20px 10px 20px 50px">
  		<ul class="list-group"></ul>
  	</div>
  </div>
</div>

<div id="Create" class="tabcontent">
	<h3>Create</h3>
	<form class="form-inline" id="registerForm">
		<div class="form-group">
        	<label for="firstname" >Firstname:</label><br>
        	<input type="text" class="form-control" id="firstname" placeholder="Enter Firstname" required/>
      	</div> <br>
      	<div class="form-group">
        	<label for="surname">Surname:</label><br>
        	<input type="text" class="form-control" id="surname" placeholder="Enter Surname" required/>
      	</div> <br>
      	<div class="form-group">
        	<label for="gender">Gender:</label><br>
      		<input type="text" class="form-control" id="gender" placeholder="Enter Gender" required/>
      	</div> <br>
      	<div class="form-group">
        	<label for="birthdate">Birthdate:</label><br>
        	<input type="text" class="form-control" id="birthdate" placeholder="Enter Birthdate" required/>
      	</div> <br>
      	<div class="form-group">
        	<label for="home_address">Home Address:</label><br>
        	<input type="text" class="form-control" id="home_address" placeholder="Enter Home Address"/>
      	</div> <br>
      	<div class="form-group">
        	<label for="work_address">Work Address:</label><br>
        	<input type="text" class="form-control" id="work_address" placeholder="Enter Work Address"/>
      	</div> <br><br>
      	<button type="submit" class="btn btn-default" style="margin-left:20px">Submit</button>
    </form>
    <div class="res1" id="postResultDiv"></div>
</div>

<div id="Update" class="tabcontent">
	<h3>Update</h3>
	
	<form class="form-inline" id="updateForm">
		<div class="form-group">
        	<label for="id">Id:</label><br>
        	<input type="number" class="form-control2" id="id" placeholder="Enter User Id" required/>
      	</div> <br>
		<div class="form-group">
        	<label for="firstname">Firstname:</label><br>
        	<input type="text" class="form-control2" id="firstname2" placeholder="Enter Firstname" required/>
      	</div> <br>
      	<div class="form-group">
        	<label for="surname">Surname:</label><br>
        	<input type="text" class="form-control2" id="surname2" placeholder="Enter Surname" required/>
      	</div> <br>
      	<div class="form-group">
        	<label for="gender">Gender:</label><br>
      		<input type="text" class="form-control2" id="gender2" placeholder="Enter Gender" required/>
      	</div> <br>
      	<div class="form-group">
        	<label for="birthdate">Birthdate:</label><br>
        	<input type="text" class="form-control2" id="birthdate2" placeholder="Enter Birthdate" required/>
      	</div> <br>
      	<div class="form-group">
        	<label for="home_address">Home Address:</label><br>
        	<input type="text" class="form-control2" id="home_address2" placeholder="Enter Home Address"/>
      	</div> <br>
      	<div class="form-group">
        	<label for="work_address">Work Address:</label><br>
        	<input type="text" class="form-control2" id="work_address2" placeholder="Enter Work Address"/>
      	</div> <br><br>
      	<button type="submit" class="btn btn-default" style="margin-left:20px">Submit</button>
    </form>
    <div class="res2" id="updateResultDiv"></div>
      
</div>

<div id="Delete" class="tabcontent">
  <h3>Delete</h3>
  Enter the id of the user you want to delete...<br><br>
	<form class="form-inline" id="deleteForm">
		<div class="form-group">
        	<label for="id">Id:</label><br>
        	<input type="text" class="form-control3" id="id3" placeholder="Enter User Id" required/>
      	</div><br>
      	<button type="submit" class="btn btn-default" style="margin-left:20px">Submit</button>
	</form>
	<div class="res3" id="delResultDiv"></div>
</div>   
</body>
</html> 